#hud
  #song_wrapper
  #key_groups
  .clear
#keyboard_wrapper
  #keyboard
    #audio_files
    #keys
      #c.whites
      #d.whites
      #e.whites
      #f.whites
      #g.whites
      #a.whites
      #b.whites
      #ct.whites
      #dt.whites
      #et.whites
      #cs.blacks
      #ds.blacks
      #fs.blacks
      #gs.blacks
      #bb.blacks
      #cst.blacks
      #dst.blacks

.controls
  - if user_signed_in? && current_user.admin?
    .btn.btn-danger.start_recording
      %i.icon-volume-up

    .btn.btn-info.play_recording
      %i.icon-play
  
    .btn.btn-info.learn
      %i.icon-star

    .btn.btn-info.save_song
      %i.icon-arrow-down

    = text_field_tag 'song[title]', @song.title, :placeholder => 'Title', :id => 'song_title'
    = text_field_tag 'song[artist]', @song.artist, :placeholder => 'Artist', :id => 'song_artist'


= javascript_tag "$(function(){ P.initialize({songs: #{@songs.to_json}, user: #{user_signed_in? ? current_user.to_json : ''} }); });"

- if user_signed_in?
  = link_to 'Share Song', share_song_path(@song), :class => 'btn'
- else
  = link_to 'Share Song', ''