#hud
  #key_groups
  .clear
.row{:style => "background: #000 url(#{image_path 'piano_josh_bar.png'}) center top repeat-x;"}
  .right{:style => 'padding: 0px 200px 0px 0px'}
    .span2{:style => 'padding-top:5px'}
      .sharewell{:style => 'padding: 3px 0px 0px 2px'}
        = image_tag('play_button.png')
        = image_tag('fb_share_button.png')
  .right{:style => 'padding: 10px 160px 10px 0px'}= image_tag('piano_bar_loog.png')
  .clear
#keyboard_wrapper
  #keyboard
    #audio_files
    #keys
      #c.whites
      #d.whites
      #e.whites 
      #f.whites
      #g.whites
      #a.whites
      #b.whites
      #ct.whites
      #dt.whites
      #et.whites
      #cs.blacks
      #ds.blacks
      #fs.blacks
      #gs.blacks
      #bb.blacks
      #cst.blacks
      #dst.blacks

.controls
  .btn.btn-danger.start_recording
    %i.icon-volume-up

  .btn.btn-info.play_recording
    %i.icon-play

  %br/
  %br/
  
  .btn.btn-info.learn
    %i.icon-star

  .btn.btn-info.save_song
    %i.icon-arrow-down


= javascript_tag "$(function(){ P.initialize({songs: #{@songs.to_json} }); });"