#hud
  #song_wrapper

#keyboard_wrapper
  #key_groups
  .clear


.the_controls
  - if user_signed_in? && current_user.admin?
    .btn.btn-danger.start_recording
      %i.icon-volume-up

    .btn.btn-info.play_recording
      %i.icon-play

    %br/
  
    .btn.btn-info.learn
      %i.icon-star

    .btn.btn-info.save_song
      %i.icon-arrow-down

    %br/
    = text_field_tag 'song[title]', @song.title, :placeholder => 'Title', :id => 'song_title'
    %br/
    = text_field_tag 'song[artist]', @song.artist, :placeholder => 'Artist', :id => 'song_artist'

:javascript
  $(function(){
    P.initialize({songs: #{@songs.to_json}, song: #{@song.present? ? @song.to_json : {}}, user: #{user_signed_in? && current_user.present? ? current_user.to_json : '{}'}, show_play_modal: #{@show_play_modal ? true : false} });
  });
- if @show_play_modal
  :javascript
    $(function(){
      $('.play_modal').modal();
    });

.play_modal.modal.hide
  .modal-header
    %button.close{:type => 'button', 'data-dismiss' => 'modal'} x
  .modal-body
    - if @song.image_url.present?
      .left{:align => 'right', :style => 'margin-left: 0'}
        %img{:src => @song.image_url, :style => 'width: 50px; height: 50px;'}
    .left{:style => 'margin-left: 20px'}
      %h2{:style => 'margin-top: 0px'} "#{@song.title}"
      %h3 Plinq'd by #{@song.user.name}
    .clear
    .right.learnSongButton{:onclick => "$('.play_modal').modal('hide'); return false;"}
    .playButton.playSongButton{:style => 'float: right; margin-right: 10px'}
    .left
      %h4{:style => 'color: #666'} Plays: #{@song.listen_count}
    .clear